<h3>New Animal</h3>
<form class="form" action="/animals" method="post">

<label for="name">Name:</label>
<input type="text" name="name" id="name"/>

<label for="age">Age:</label>
<input type="text" name="age" id="age"/>

<label for="species">Species:</label>
<select name="species" id="species">
  <% for animal_type in @animal_types %>
  <option value="<%= animal_type %>"><%= animal_type %></option>
  <% end %>
</select>

<label for="admission_date">Date:</label>
<input type="text" name="admission_date" id="admission_date"/>

<label for="is_adoptable">Ready for adoption?:</label>
<select name="is_adoptable" id="is_adoptable">
  <option value=true>Yes</option>
  <option value=false>No</option>
</select>


<input type="submit" value="Add New Animal"/>


</form>
