<form class="" action="/animals/search/results" method="post">
  <label for="species">Search for species:</label>
  <select name="species" id="species">
    <% for animal_type in @animal_types %>
    <option value="<%= animal_type %>"><%= animal_type %></option>
    <% end %>
  </select>
  <input type="submit" value="SEARCH">
</form>
