<h1>Scottish Animal Shelter</h1>
<hr>
<p class="intro-text">
Welcome to the Scottish Animal Shelter database. You can use this website to view all the animals and all the owners we currently have on the books. You can also assign pets to owners and add new animals and owners to the database.
<br>
<br>
Some shelters have to euthanise due to lack of space, meaning many healthy animals lose their lives. By rehoming a pet you can give an animal that has been abandoned through no fault of their own a loving, stable home, and help to stop overpopulation.
</p>

<img src="/images/cute_cat.jpg"  class="homepage-image" alt="A Cute Cat">
