<h1>Scottish Animal Shelter</h1>

<p class="intro-text">Welcome to the Scottish Animal Shelter database. You can use this website to view all the pets we have and all the owners. You can also assign pets to owners.</p>

<img src="/images/cute_cat.jpg"  class="homepage-image" alt="A Cute Cat">
