<h1>Scottish Animal Shelter</h1>

<nav>
  <ul>
    <li><a href="/animals">All Animals</a></li>
    <li><a href="/owners">All Owners</a></li>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="">Adopt a pet</a></li> -->
  </ul>
</nav>
