<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Scottish Animal Shelter</title>
    <!-- <link rel="stylesheet" href="/css/master.css"> -->
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/animals">All Animals</a></li>
        <li><a href="/owners">All Owners</a></li>
        <!-- <li><a href="">Assign a pet</a></li> -->
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
