<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Scottish Animal Shelter</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/animals">ANIMALS</a></li>
        <li><a href="/owners">OWNERS</a></li>
        <li><a href="/adoptions">ADOPTIONS</a></li>
      </ul>
    </nav>
    <%= yield %>
    <div class="background-image"></div>
  </body>
</html>
