<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Scottish Animal Shelter</title>
    <!-- <link rel="stylesheet" href="/css/master.css"> -->
  </head>
  <body>
    <%= yield %>
  </body>
</html>
