body {
  font-family: "Helvetica Neue";
  background-color: #EBF1FA;
  background-image: url("/images/background_paws.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-attachment: fixed;
  background-position: bottom left;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #798674;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #606B5C;
}

table {
  table-layout: fixed;
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #798674;
  text-align: center;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

tr {
  background-color: #798674;
}

td {
  background-color: #D6DAD5;
}

select {
  text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #798674;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit], .card-buttons {
  width: 100%;
  background-color: #798674;
  font-size: 18px;
  color: #D6DAD5;
  margin-top: 20px;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.intro-text {
  padding: 16px;
  text-align: center;
}

.homepage-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  border-radius: 10px;
}

.index-nav {
  width: 100%;
  background-color: #D6DAD5;
  border:3px #798674;
}

a:link, .index-nav-link {
  text-decoration: none;
}

.index-nav-button {
  text-decoration: none;
  background-color: #798674;
  font-size: 12px;
  color: #D6DAD5;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.form {
  text-align: center;
  background-color: #D6DAD5;
  padding: 20px;
}

.card {
  display: block;
  background-color: #D6DAD5;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 10px;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
}

.t {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}
.f {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
