<h1>Owners</h1>

<table>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Animal</th>
    </tr>
    <% for owner in @owners %>
    <tr>
      <td><a href="/owners/<%= owner.id %>"><%= owner.pretty_name %></a></td>
      <td><%= owner.age %></td>
      <td><%= owner.address %></td>
      <td></td>
    </tr>
    <% end %>
</table>
