<div class="form">
  <h3>Add Species</h3>
  <form action="/animal-types" method="post">

    <label for="species">New species name:</label>
    <input type="text" name="species" id="species"/>

    <input type="submit"  value="Add">
  </form>
</div>
